include ../../blocks/title/title
section.m-price(ng-controller="priceCtrl")
	.l-price
		+title()
		.b-cost
			.b-cost__item(ng-repeat="item in priceData.propose")
				.b-title
					|{{item.title}}
					svg.b-svg(ng-show="item.titleArrow")
						use(xlink:href="../src/images/common.svg#arrow")
				.b-description(ng-show="item.price")
					.b-description__large {{item.price | currency : "$" : 0}}
					|Per Month
				.b-description(ng-show="item.text" ng-bind-html="item.text")
script(src='modules/price/price.js')