//-break points
@screen-xs-min: 320px;
@screen-s-min: 480px;
@screen-m-min: 768px;
@screen-l-min: 960px;
@screen-xl-min: 1170px;


@extra-small: @extra-small-up and @extra-small-down;
@extra-small-down: ~"(max-width:" @screen-xs-min ~")";
@extra-small-up: ~"(min-width:" @screen-s-min ~")";

@small: @small-up and @small-down ;
@small-down: ~"(max-width:" @screen-m-min ~")";
@small-up: ~"(min-width:" (@screen-s-min - 1px) ~")";

@medium: @medium-up and @medium-down ;
@medium-down: ~"(max-width:" @screen-l-min ~")";
@medium-up: ~"(min-width:" (@screen-m-min - 1px) ~")";

@large: @large-up and @large-down ;
@large-down: ~"(max-width:" @screen-xl-min ~")";
@large-up: ~"(min-width:" (@screen-l-min - 1px) ~")";

@extra-large: @extra-large-up and all ;
@extra-large-up: ~"(min-width:" (@screen-xl-min - 1px) ~")";

//- Hide block
.hide() {
	display: none;
}
//- Size
.size(@width, @height) {
	width: @width * 1px;
	height: @height * 1px;
}
//- Square
.sq(@size) {
	width: @size * 1px;
	height: @size * 1px;
}
//- responsive % width
.width(@varWidth) {
	width: percentage(@varWidth/@base-font-size);
}
.height(@varHeight) {
	height: percentage(@varHeight/@base-font-size);
}

.va (@width, @height) {
	.size(@width * 1px, @height * 1px);
	.va {
		.size(@width * 1px, @height * 1px);
	}
}
.center (@position: absolute) {
	position: @position;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}
.over (@width: auto){
	text-overflow: ellipsis;
	overflow: hidden;
	width: @width;
}
.justify () {
	text-align: justify;
	text-align-last: justify;
	&:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
	}
}
//- gradient
.grad (@startcolor, @endcolor, @direction: to top) {
	background-color: mix(@startcolor, @endcolor, 50%);
	//- background: -webkit-gradient(linear, left @direction, right @direction, color-stop(0%,@endcolor), color-stop(100%,@startcolor));
	//- background: -webkit-linear-gradient(@direction, @startcolor 100%, @endcolor 0%);
	//- background: -o-linear-gradient(@direction, @startcolor 100%, @endcolor 0%);
	//- background: -moz-linear-gradient(@direction, @startcolor 100%, @endcolor 0%);
	background: -ms-linear-gradient(@direction, @startcolor 100%, @endcolor 0%);
	background: linear-gradient(@direction, @startcolor , @endcolor );
	.ie9 & {
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{startcolor}', endColorstr='@{endcolor}',GradientType=1 );
	}
}

//- FONT-Face
.font-face (@font, @fontName: @font){
	@font-face{ 
		font-family: '@{fontName}'; 
		src: 	url('@{font-path}/@{font}.eot');
		src: 	url('@{font-path}/@{font}.eot?#iefix') format('embedded-opentype'),
				url('@{font-path}/@{font}.woff') format('woff'),
				url('@{font-path}/@{font}.ttf') format('truetype'),
				url('@{font-path}/@{font}.svg#webfont') format('svg');
	}
}
.placeholder(@color) {
	&::-webkit-input-placeholder {
		color: @color; // Chrome, Safari, Opera
	}
	&::-moz-placeholder {
		color: @color; // Firefox 19+
	}
	&:-ms-input-placeholder {
		color: @color; // IE 10+
	}
}