section.m-latest-news#m-latest-news(ng-controller="latestNewsCtrl")
	+title()
	.swiper-container
		.swiper-wrapper
			.swiper-slide(ng-repeat="item in latestNewsData.news")
				.b-title(ng-bind="item.title")
				.b-autor
					|by&nbsp;
					span.b-autor__name(ng-bind="item.author")
				.b-tip(ng-bind="item.tip")
				.b-text(ng-bind="item.text")
				.b-readme(ng-bind="item.button")
		.swiper-pagination
script(src='modules/latest-news/latest-news.js')