section.m-impresed
	.l-impresed
		.b-side
			.b-side__title Impressed ?
			.b-side__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
			.b-side__autor - Abdullah Noman
			.b-side__post
				|Creatice Director,
				a(href="javascript:void(0);" title="") &nbsp;Code Cafe
		.b-media
			.b-text
				.b-text__item b
				.b-text__item o
				.b-text__item u
				.b-text__item n
				.b-text__item c
				.b-text__item y
			img(src='#{modulePath}/impresed/images/monitor.png' alt='')