section.m-impresed(ng-controller="impresedCtrl")
	.l-impresed
		.b-side
			.b-side__title(ng-bind="impresedData.title")
			.b-side__text(ng-bind="impresedData.quote.text")
			.b-side__autor(ng-bind-template=" - {{impresedData.quote.author}}")
			.b-side__post
				|{{impresedData.quote.post}}, {{impresedData.quote.author}}
				cite(ng-bind="impresedData.quote.referal")
		.b-media
			.b-text
				.b-text__item b
				.b-text__item o
				.b-text__item u
				.b-text__item n
				.b-text__item c
				.b-text__item y
			img(src='#{modulePath}/impresed/images/monitor.png' alt='')
script(src='modules/impresed/impresed.js')