include ../../blocks/title/title
section.m-team#m-team(ng-controller="teamCtrl")
	.l-team
		+title()
		.swiper-container
			.swiper-wrapper
				.swiper-slide(ng-repeat="person in teamData.team")
					.b-media
						img(ng-src='{{person.photo}}' alt='').b-media__img
						.b-social
							a(href="{{person.links.in}}" target="_blank").b-social__item
								svg.b-instagram
									use(xlink:href='#{imgPath}/common.svg#icon-instagram')
							a(href="{{person.links.fb}}" target="_blank").b-social__item
								svg.b-facebook
									use(xlink:href="#{imgPath}/common.svg#icon-facebook")
							a(href="{{person.links.tw}}" target="_blank").b-social__item
								svg.b-twitter
									use(xlink:href="#{imgPath}/common.svg#icon-twitter")
					.b-info
						.b-info__name(ng-bind="person.name")
						.b-info__post(ng-bind="person.post")
						.b-info__discription(ng-bind="person.text")
						.b-skills(ng-repeat="(key, value) in person.skils")
							.b-skills__tip(ng-bind="key")
							progress.b-skills__progress(max="100" value="{{value}}")
			.swiper-pagination
	.b-contact
		.b-contact__text(ng-bind="teamData.footerText")
		.b-contact__button(ng-bind="teamData.footerButton")
script(src="../src/markups/modules/team/team.js")