include ../../blocks/title/title
section.m-details#m-details(ng-controller="datailsCtrl")
	.l-details()
		+title()
		.m-details__list(click-active='')
			.b-heart(ng-click='switchContent(0)')
			.b-mouse(ng-click='switchContent(1)')
			.b-bulb(ng-click='switchContent(2)')
		.b-description(ng-class="{animate : startAnimation}")
			.b-description__title(ng-bind="contentData.title")
			.b-description__small-text(ng-bind-html="contentData.small")
			.b-description__big-text(ng-bind-html="contentData.full")
script(src='modules/details/details.js')