include ../../blocks/title/title
section.m-portfolio#m-portfolio(ng-controller="portfolioCtrl")
	.l-portfolio
		+title()
		.b-filter
			.b-filter__envelope
				.b-list
					.b-list__item(ng-repeat="item in portfolioData.filters" ng-bind="item.item" ng-click="clickWork(item.item, $event)")
		.b-works
			.b-works__item(ng-repeat="work in portfolioData.portfolio | filter: selectedItems | limitTo : 12" )
				.b-media
					img(ng-src="{{work.img}}" alt='').b-media__img
				.b-tip
					.b-tip__title {{work.title}}
					.b-tip__discription {{work.discription}}
					a(href="{{work.link}}" title="" target="_blank").b-tip__link
					.b-tip__like
		.b-footer
			.b-footer__text(ng-bind-html="portfolioData.text")
			.b-footer__button(ng-bind="portfolioData.button")
script(src='modules/portfolio/portfolio.js')