include ../../blocks/title/title
section.m-feed-back
	form.l-feed-back
		input(type="text" name="text" id="email" value="" placeholder="Your name" required).m-feed-back__name
		input(type="email" name="email" id="email" value="" placeholder="Email address" required).m-feed-back__email
		input(type="text" name="text" id="subject" value="" placeholder="Subject" ).m-feed-back__subject
		textarea(required).m-feed-back__textarea
		input(type="submit" name="submit" value="submit now").m-feed-back__submit