<!DOCTYPE html>
html(lang="en" ng-app="bouncyApp")
	include ./head.jade
	block head
	body
		.wrapper
			main.content
				block content
		footer.footer
			include ../modules/footer/footer.jade
			block footer