// TODO. should be added by yeoman
include ../blocks/cloudinary/cloudinary

<!DOCTYPE html>
html(lang="en")
	include ./head.jade
	block head
	body
		.wrapper
			header.header
				include ../modules/header/header.jade
				block header
			main.content
				block content
		footer.footer
			include ../modules/footer/footer.jade
			block footer