include ../../blocks/title/title
section.m-subscribe(ng-controller="subscribeCtrl")
	form.l-subscribe(name="subscribe" ng-submit="validateSubscribe(subscribe)"  notvalidate)
		+title()
		input(type="email" name="email" id="email" value="" ng-model="feedbackEmail" placeholder="Email Address" title="type your email adress" required).m-subscribe__input
		input(type="submit" name="submit" value="submit" ng-disabled="subscribe.$invalid").m-subscribe__submit
script(src='modules/subscribe/subscribe.js')