section.m-testimonials
	-var title = {title: 'Testimonials', subtitle: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium'}
	+title(title)
	.l-testimonials
		.b-media
			img(src='#{tempPath}/avatar.png' alt='').b-media__img
		.b-description
			.b-description__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
			.b-description__autor PARTHO
			.b-description__status FOUNDER, ARTWAYS BD