section.m-testimonials(ng-controller="testimonialsCtrl")
	+title()
	.l-testimonials
		.swiper-container.js-swiper-testimonial
			.swiper-wrapper
				.swiper-slide(ng-repeat="item in testimonialsData.testimonials")
					.b-media
						img(ng-src='{{item.avatar}}' alt='').b-media__img
					.b-description
						.b-description__text(ng-bind="item.text")
						.b-description__autor(ng-bind="item.author")
						.b-description__status(ng-bind="item.status")
			.swiper-pagination.js-testimonial-pagination

script(src='modules/testimonials/testimonials.js')